<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>Daftar Topik TA Tersedia</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="bg-gray-100">
    <!-- Header -->
      <%- include('../partial/header.ejs') %>

    <!-- Main Content -->
    <div class="container mx-auto p-6">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- Sidebar -->
        <%- include('../sidebar/sidebaradmin.ejs') %>
             <!-- Main Content Area -->
              <div class="col-span-2 bg-white p-6 rounded-lg shadow-lg ">
              <h2 class="text-2xl font-semibold text-green-600 mb-6">Galeri TA Yang Sudah Selesai</h2>
              <div class="overflow-x-auto bg-white rounded-lg shadow-lg">
                <table class="table-auto w-full border border-gray-400">
                  <thead>
                    <tr class="bg-green-600 text-white">
                      <th class="px-6 py-2 text-center border border-gray-400">No</th>
                      <th class="px-6 py-2 text-center border border-gray-400">Nama</th>
                      <th class="px-6 py-2 text-center border border-gray-400">Judul TA</th>
                      <th class="px-6 py-2 text-center border border-gray-400">Dosen Pembimbing</th>
                      <th class="px-6 py-2 text-center border border-gray-400">Tahun Selesai</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% mahasiswaList.forEach((item, index) => { %>
                      <tr class="border-t border-gray-300">
                        <td class="px-6 py-2 text-center border border-gray-400"><%= index + 1 %></td>
                        <td class="px-6 py-2 border border-gray-400"><%= item.nama %></td>
                        <td class="px-6 py-2 border border-gray-400"><%= item.judul_ta %></td>
                        <td class="px-6 py-2 border border-gray-400"><%= item.dosen_pembimbing %></td>
                        <td class="px-6 py-2 text-center border border-gray-400"><%= item.tahun_selesai %></td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="flex justify-end mb-4">
        <a href="/galerijudulTA" class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700">
          <i class="fas fa-file-pdf mr-2"></i>Download PDF
        </a>
        </div>
    </div>
    <!-- Footer -->
    <footer class="bg-green-600 text-white text-center p-4 mt-6">
      <p>&copy; 2025 Sistem Informasi - Fakultas Teknologi Informasi</p>
    </footer>
  </body>
</html>